<section>
  <hr>
  <div class="profil-body">
    <div>
      <p>First Name: <span>{{ confirmation_data.first_name }}</span></p>
      <p>Last Name: <span>{{ confirmation_data.last_name }}</span></p>
    </div>
    <div>
      <p>Phone: <span>{{ confirmation_data.phone }}</span></p>
      <p>Email: <span>{{ confirmation_data.email }}</span></p>
    </div>
  </div>
</section>