<section>
  <hr>
  <div class="appointment-body">
    <div>
      <p>Day: <span>{{ confirmation_data.date }}</span></p>
    </div>
    <div>
      <p>Hour: <span>{{ confirmation_data.time }}</span></p>
    </div>
  </div>
</section>